force-app/main/default/flows/Payment_Cancellation_Approved_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Seat_Assignment_to_Available</name>
        <label>Update Seat Assignment to Available</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>UpdateSeatAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Unpaid_Payment_Record_Status_to_Cancelled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>selectedSeatAssign</name>
            <value>
                <elementReference>Seat_Assignment_Ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Update the seat assignment availability status to available, update booking status to cancelled and update payment status to cancelled when the payment cancellation is approved by admin</description>
    <environments>Default</environments>
    <interviewLabel>Payment Cancellation Approved Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Cancellation Approved Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking_Record_to_Cancelled</name>
        <label>Update Booking Record to Cancelled</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Booking__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unpaid_Payment_Record_Status_to_Cancelled</name>
        <label>Update Unpaid Payment Record Status to Cancelled</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Booking_Record_to_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Seat_Assignment_to_Available</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Seat_Assignment_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Booking__r.Seat_Assignment_Id__c</elementReference>
        </value>
    </variables>
</Flow>
