force-app/main/default/flows/Release_the_Payment_One_hour_before_Showtime_Start_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payment_Cancellation_Email</name>
        <label>Payment Cancellation Email</label>
        <locationX>308</locationX>
        <locationY>816</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Booking Cancelation Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Seat_Assignment_to_Available</name>
        <label>Update Seat Assignment to Available</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>UpdateSeatAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Movie_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>selectedSeatAssign</name>
            <value>
                <elementReference>Seat_Assignment_Ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Movie_Name</name>
        <label>Assign Movie Name</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>MovieName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Movie_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unpaid_Payment_Record_Status_to_Cancelled</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Release the Payment One hour before Showtime Start Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release the Payment One Hour After the Payment is Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Movie_Details</name>
        <label>Get Movie Details</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Movie_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__r.Showtime__r.Movie__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking_Record_to_Cancelled</name>
        <label>Update Booking Record to Cancelled</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Payment_Cancellation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Booking__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unpaid_Payment_Record_Status_to_Cancelled</name>
        <label>Update Unpaid Payment Record Status to Cancelled</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Booking_Record_to_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>An_hour_before_the_Showtime_date</name>
            <connector>
                <targetReference>Update_Seat_Assignment_to_Available</targetReference>
            </connector>
            <label>Release the Payment One Hour After the Payment is Updated</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings! {!$Record.CreatedBy.FirstName}&lt;/p&gt;&lt;p&gt;Your movie ticket booking has been canceled as you weren&apos;t able to pay for the tickets in time.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Movie Name:&lt;/strong&gt; {!MovieName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Selected Seats: &lt;/strong&gt;{!$Record.Booking__r.Selected_Seats__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Showtime: &lt;/strong&gt;{!$Record.Booking__r.Showtime__r.Start_Time__c}, {!$Record.Booking__r.Showtime__r.Theater__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Status:&lt;/strong&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt; {!$Record.Payment_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Thank You!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>MovieName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Seat_Assignment_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Booking__r.Seat_Assignment_Id__c</elementReference>
        </value>
    </variables>
</Flow>
